.container {
    width: 100%;
    height: 100vh;
}

.content {
    background-color: rgb(235, 234, 234);
    width: 100%;
    height: 100vh;

}

.content .container {
    width: 100%;
    height: 90vh;
    padding: 20px;

}

.personal-info {
    background-color: white;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.personal-image {
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

.personal-image img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    border-radius: 20%;

}

.info {
    margin: 50px;
}


.personal-name {
    margin-bottom: 15px;
}

#username {
    font-size: 30px;
}

#position {
    font-size: 20px;
    font-weight: bold;
    color: #002dffbb;
}